<div class="text-center">
  <h1>ユーザー編集ページ</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div>
        <% if @user.errors.any? %>
          <div class="alert alert-warning">
            <div id="error_explanation">
              <ul>
                <% @user.errors.full_messages.each do |user| %>
                  <li><%= user %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <%= form_for(@user) do |f| %>
      
        <% if @user.avater? %>
          <%= image_tag @user.avater.thumb.url %>
        <% else %>
          <%= image_tag"/assets/default.jpg", :size => '100x100' %>
        <% end %>
        <%= f.file_field :avater %>
        
        <div class="form-group">
          <%= f.label :introduce, '自己紹介文' %>（最大100文字）
          <%= f.text_area :introduce, class: 'form-control' %>
        </div>
        
        <%= f.submit '更新する', class: 'btn btn-primary' %>
        
        <div class="form-group">
          <%= f.label :name, '名前' %>（1〜10文字まで）
          <%= f.text_field :name, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>（新しいパスワードを入力）
          <%= f.password_field :password, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワードの確認' %>（新しいパスワードの再入力）
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
  
      <% end %>
      
      <div class="border border-danger bg-danger text-white">
        ※ 下のボタンから退会ができます。二度と復元できません。
        <%= link_to "退会する", @user, method: :delete, data: { confirm: "二度と復元できません" }, class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
</div>