<div class="container followings">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><%= link_to @user.name, @user %>さんのフォローリスト</h1>
      <%= form_tag(users_path, :method => 'get' ) do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'ユーザー検索', :name => nil %>
      <% end %>
      <%= render 'user', users: @followings %>
      <%= paginate @followings %>
    </div>
  </div>
</div>