<div class="row">
  <aside class="col-xs-4">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <%= image_tag @user.image.url %>
    </div>

    <%= render "relationships/follow_button", user: @user %>

    <% unless @user.introduce.nil? %>
      <div class="profile-introduce">
        <%= @user.introduce %>
      </div>
    <% end %>
    <% if @user == current_user %>
      <div>
        <%= link_to "ユーザ編集", edit_user_path(current_user) %>
      </div>
    <% end %>

  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>投稿 <% end %></li>
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>フォロー <% end %></li>
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>フォロワー <% end %></li>
    </ul>
  </div>
</div>