<div class="container userPage" id="wrapper">
  <div class="row">
    <aside class="col-md-3">
      <div class="profile-avatar border">
        <% if @user.avater? %>
          <%= image_tag @user.avater.thumb.url %>
        <% else %>
          <%= image_tag"/assets/default.jpg", :size => '100x100' %>
        <% end %>
      </div>
      <div class="profile-username">
        <h3> <%= @user.name %> </h3>
      </div>
      <section class="stats">
        <%= render 'users/stats' %>
      </section>

      <% if current_user.admin? && !(current_user == @user) %>
        <%= link_to "管理者用削除", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
      <%= render "relationships/follow_button", user: @user %>
      <div class="profile-info">
        <h8>自己紹介文</h8>
          <div class="profile-introduce border" style="word-wrap:break-word;" >
            <p class="text-left">
              <% if @user.introduce? %>
                <%= @user.introduce %>
              <% else %>
                未設定
              <% end %>
            </p>
          </div>
        <% if @user == current_user %>
          <%= link_to "ユーザ編集", edit_user_path(current_user), class: "btn btn-primary" %>
        <% end %>
      </div>
    </aside>
    
    <div class="col-md-9">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a href="#posted" class="nav-link posted-tab" id="posted-tab" data-toggle="tab" role="tab" aria-controls="posted" aria-selected="true">投稿した記事</a>
        </li>
      </ul>
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="posted" role="tabpanel" aria-labelledby="posted-tab">
          <%= render 'posts/post' %>
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>