<div class="row">
  <div class="col-xs-6">
    
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @post.errors.full_messages.each do |post| %>
              <li><%= @post %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  


<% if @post.picture? %>
  <% @post.picture.each do |picture| %>
    <%= image_tag picture.url %>
  <% end %>
<% end %>

<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label :content, '編集' %>
    <%= f.text_field :content,  class: 'form-control' %>
  </div>
  <%= f.submit "編集", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, :multiple => true, accept: 'image/jpeg,image/gif,image/png' %>
    <p>画像を複数選択し、アップロードできます。</p>
    <p>画像は5MB以下のサイズのみ対応しています。</p>
  </span>
<% end %>
  </div>
</div>