<div class= "posts-show-item">
  <%= @post.content %>
  <div class= "post-item">
    <%= @post.created_at %>
  </div>
　<div class="post-user-name">
　  <%= link_to(@user.name, user_path(@user)) %>
　  
　</div>
　<% if @post.user == current_user %>
  <div>
    
    <%=link_to "編集",edit_post_path %>
  </div>
  <div>
    <%=link_to "削除",@post,method: :delete,data:{confirm:"You sure?"},
      class:'btn btn-danger btn-xs' %>
  </div>
  <% end %>  
</div>