<div class= "posts-show-item">
  <%= @post.content %>
  
  <% if @post.picture? %>
    <% @post.picture.each do |picture| %>
      <%= image_tag picture.url %>
    <% end %>
  <% end %>
  
  <div class= "post-item">
    <%= @post.created_at %>
  </div>
　<div class="post-user-name">
　  <%= link_to(@user.name, user_path(@user)) %>
　</div>
　<h2>コメント</h2>
　
　  <% @post.comments.each do |comment| %>
　    <p>
　      <%= comment.commenter %>: <%= comment.body %>
　      <% if @post.user == current_user %>
　        <%= link_to '削除', [comment.post, comment],method: :delete %>
　      <% end %>
　    </p>
　  <% end %>
　<h2>コメントを書く</h2>
　<h4>※コメントは自分では消せません！</h4>
　<%= form_for([@post, @post.comments.build]) do |f| %>
　  <div class="field">
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
　<div class= "post-likes"
    <%= render "likes/like_button", post: @post %>
  </div>
　  
　<% if @post.user == current_user %>
  <div>
    <%=link_to "編集",edit_post_path %>
  </div>
  <div>
    <%=link_to "削除",@post,method: :delete,data:{confirm:"You sure?"},
      class:'btn btn-danger btn-xs' %>
  </div>
  <% end %>  
</div>