
<div class="row">
  <aside class="col-md-6 col-md-offset-3">
    
    <table class="table table-bordered">
      <div class= "posts-show-item">
        <tr>
          <th>いいね数  <%= @likes_count %></th>
          <td>
            <%= render "likes/like_button", post: @post %>
          </td>
        </tr>
        <tr>
          <th>メッセージ</th>
          <td><%= @post.content %></td>
        </tr>
        <tr>
          <th>画像</th>
          <% if @post.picture? %>
            <% @post.picture.each do |picture| %>
              <td><%= image_tag picture.url %></td>
            <% end %>
          <% end %>
        </tr>
        
        <div class= "post-item">
          <%= @post.created_at %>
        </div>
　      <div class="post-user-name">
　       <%= link_to(@user.name, user_path(@user)) %>
　      </div>
        
        
　       
    </table>　  
        <% if current_user.admin? && !(current_user == @admin) %>
          <div>
            <%=link_to "管理者用削除",@admin,method: :delete,data:{confirm:'本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
          </div>
        <% end %>
　     <% if @post.user == current_user %>
        <div>
          <%=link_to "編集",edit_post_path, class: 'btn btn-default'%>
        </div>
        <div>
          <%=link_to "削除",@post,method: :delete,data:{confirm:'本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
        </div>
       <% end %>  
       
      </div>
  </aside>
</div>