<div class="container post-show">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="media border-bottom">
        <figure class="align-self-start mr-3">
          <figcaption>
            投稿者
          </figcaption>
          <% if @user.avater? %>
            <%= image_tag @user.avater.thumb50.url %>
          <% else %>
            <%= image_tag"/assets/default.jpg", :size => '100x100' %>
          <% end %>
          <figcaption>
            <%=link_to(@user.name, user_path(@user))%>
          </figcaption>
        </figure>
        <div class="media-body" style="word-break: break-all;">
          <p class="text-left">★自己紹介文</p>
          <h5 class="text-left">
            <% if @user.introduce? %>
              <%= @user.introduce %>
            <% else %>
              未設定
            <% end %>
          </h5>
          <div class="float-right">
            <%= render "relationships/follow_button", user: @user %>
          </div>
        </div><!-- /.media-body -->
      </div><!-- /.media -->
      <div class="media border-bottom">
        <div class="media-body", style="word-break: break-all;">
          <p class="text-left"> 投稿日時：<%= @post.created_at.strftime('%Y年%m月%d日') %> </p>
          <h5 class="mt-0 text-left"><%= @post.content %></h5>
          <ul class="float-left">
            <% if @post.picture? %>
              <% @post.picture.each do |picture| %>
                <li><%= image_tag picture.thumb_big.url %></li>
              <% end %>
            <% end %>
          </ul>
          <div class="float-right">
            <%= render "likes/like_button", post: @post %>
          </div>
        </div><!-- /.media-body -->
      </div><!-- /.media -->
      <% if current_user.admin? && !(current_user == @admin) %>
        <div>
          <%=link_to "管理者用削除",@admin,method: :delete,data:{confirm:'本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
      <% if @post.user == current_user %>
        <div>
          <%=link_to "編集",edit_post_path, class: 'btn btn-primary'%>
          <%=link_to "削除",@post,method: :delete,data:{confirm:'本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
        </div>
      <% end %>  
      </div>
  </aside>
</div>