<header>
  <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light" style="background-color: #FFCCFF;">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ゆいゆいどっとこむ</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <%= link_to("ユーザー一覧", users_path)%>
          </li>
          <li class="nav-item">
            <%= link_to("投稿一覧", posts_path) %>
          </li>
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to("新規投稿", new_post_path) %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイプロフィール', user_path(current_user) %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', logout_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to("ゆいゆいどっとこむとは？", about_path)%>
            </li>
            <li class="nav-item">
              <%= link_to 'ログイン', login_path %>
            </li>
            <li class="nav-item">
              <%= link_to("新規登録",users_signup_path)%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>